html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

.header{
    background: chocolate;
    height: 60px;
    line-height: 60px;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0px;
    color: black;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

a:active{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
}

.content{
    background-color: lightgrey;
    flex: 7;  
}

.sidebar{
    background-color: rgb(31, 31, 31);
    flex: 3;
    color: lightgrey;
    min-height: 500px;
}

p{
    margin: 20px;
}

.blog-post{
    margin:10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(155, 155, 155);
}

img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; 
}